<form method="post">
  <input type="email" name="email" value="" placeholder="Pone tu email" />
  <br /><br />
  <input
    type="password"
    name="password"
    value=""
    placeholder="Pone tu contraseña"
  />
  <br /><br />
  <input type="submit" value="Login" />
</form>